[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_do_db = testdb
relay_log = mysql-relay-bin
log-slave-updates = 1
auto-increment-increment = 2
auto-increment-offset = 1
max_connections = 1000
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 允许远程访问
bind-address = 0.0.0.0
